<div>
    <h2>المفضلة <span>(12)</span> </h2>
    <!-- table -->
    <div class="tw-overflow-auto tw-mt-6 tw-max-h-96">
        <section class="tw-table tw-w-full">
            <header class="tw-table-row tw-bg-secondColor tw-sticky tw-top-0">
                <div
                    class="tw-table-cell tw-text-gary-700 tw-font-bold tw-text-sm tw-px-6 tw-py-4 ltr:tw-text-left rtl:tw-text-right">
                    الأيـة
                </div>
                <div
                    class="tw-table-cell tw-text-gary-700 tw-font-bold tw-text-sm tw-p-4 ltr:tw-text-left rtl:tw-text-right">
                    ملاحظاتى
                </div>
            </header>
            <!-- content -->
            <div class="tw-table-row tw-bg-white tw-w-full tw-rounded tw-mb-3">
                <div class="tw-table-cell tw-border-b tw-border-gray-200">
                    <div class="flex-box tw-gap-1 tw-py-3 tw-max-w-xl">
                        <div class="tw-w-0.5 tw-h-10 tw-bg-mainColor tw-rounded-md"></div>
                        <span class="tw-mx-1"></span>
                        <p class="tw-mb-0">ٱللَّهُ لَآ إِلَٰهَ إِلَّا هُوَ لَيَجْمَعَنَّكُمْ إِلَىٰ يَوْمِ ٱلْقِيَٰمَةِ لَا رَيْبَ
                            فِيهِ وَمَنْ أَصْدَقُ مِنَ <span class="tw-text-coral tw-font-bold">ٱللَّهِ</span> حَدِيثًا</p>
                                    </div>
                </div>
                <div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
                    <div class="tw-border tw-border-mainColor/40 tw-px-5 tw-py-3 tw-max-w-sm tw-my-4">
                        <p class="mb-0 text-sm tw-text-neutral-700 tw-whitespace-pre-wrap tw-leading-6">
                            تكتب هنا جميه ملاحظاتى على الاية التى اريد حفظها عندى فى المفضلة.
                            تكتب هنا جميه ملاحظاتى على الاية التى اريد حفظها عندى فى المفضلة.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tw-table-row tw-bg-white tw-w-full tw-rounded tw-mb-3">
                <div class="tw-table-cell tw-border-b tw-border-gray-200">
                    <div class="flex-box tw-gap-1 tw-py-3 tw-max-w-xl">
                        <div class="tw-w-0.5 tw-h-10 tw-bg-mainColor tw-rounded-md"></div>
                        <span class="tw-mx-1"></span>
                        <p class="tw-mb-0">ٱللَّهُ لَآ إِلَٰهَ إِلَّا هُوَ لَيَجْمَعَنَّكُمْ إِلَىٰ يَوْمِ ٱلْقِيَٰمَةِ لَا رَيْبَ
                            فِيهِ وَمَنْ أَصْدَقُ مِنَ <span class="tw-text-coral tw-font-bold">ٱللَّهِ</span> حَدِيثًا</p>
                                    </div>
                </div>
                <div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
                    <div class="tw-border tw-border-mainColor/40 tw-px-5 tw-py-3 tw-max-w-sm tw-my-4">
                        <p class="mb-0 text-sm tw-text-neutral-700 tw-whitespace-pre-wrap tw-leading-6">
                            تكتب هنا جميه ملاحظاتى على الاية التى اريد حفظها عندى فى المفضلة.
                            تكتب هنا جميه ملاحظاتى على الاية التى اريد حفظها عندى فى المفضلة.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tw-table-row tw-bg-white tw-w-full tw-rounded tw-mb-3">
                <div class="tw-table-cell tw-border-b tw-border-gray-200">
                    <div class="flex-box tw-gap-1 tw-py-3 tw-max-w-xl">
                        <div class="tw-w-0.5 tw-h-10 tw-bg-mainColor tw-rounded-md"></div>
                        <span class="tw-mx-1"></span>
                        <p class="tw-mb-0">ٱللَّهُ لَآ إِلَٰهَ إِلَّا هُوَ لَيَجْمَعَنَّكُمْ إِلَىٰ يَوْمِ ٱلْقِيَٰمَةِ لَا رَيْبَ
                            فِيهِ وَمَنْ أَصْدَقُ مِنَ <span class="tw-text-coral tw-font-bold">ٱللَّهِ</span> حَدِيثًا</p>
                                    </div>
                </div>
                <div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
                    <div class="tw-border tw-border-mainColor/40 tw-px-5 tw-py-3 tw-max-w-sm tw-my-4">
                        <p class="mb-0 text-sm tw-text-neutral-700 tw-whitespace-pre-wrap tw-leading-6">
                            تكتب هنا جميه ملاحظاتى على الاية التى اريد حفظها عندى فى المفضلة.
                            تكتب هنا جميه ملاحظاتى على الاية التى اريد حفظها عندى فى المفضلة.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>