<!-- result -->
<!-- <div class="tw-grid tw-grid-cols-4 tw-gap-4 tw-mt-6 tw-justify-center">
  <ng-container *ngFor="let row of data; let i = index">
    <div class="flex-box">
      <span class="tw-font-medium tw-bg-secondColor tw-w-8 tw-min-w-[30px] tw-h-full flex-c-c">{{i + 1}}</span>
      <div class="tw-rounded-none tw-border tw-border-secondColor tw-bg-[#f1f3f4]">
        <audio [id]="'surahPlayer' + i" controls="controls" (play)="onPlay(i)" (ended)="audioEnded(i)"
          class="tw-max-w-[265px]">
          <source id="activeAyah" src="{{ row }}" title="{{ 1 }}" type="audio/mp3" />
        </audio>
      </div>
    </div>
  </ng-container>
</div> -->
<div class="tw-max-w-3xl tw-mx-auto tw-mt-8" *ngIf="data.length > 0">
  <ngx-audio-player [autoPlay]="false" muted="muted" [playlist]="data"
    [disablePositionSlider]="msaapDisablePositionSlider" [displayRepeatControls]="msaapDisplayRepeatControls"
    [displayVolumeControls]="msaapDisplayVolumeControls" 
    [displayTitle]="msaapDisplayTitle" [displayPlaylist]="msaapDisplayPlayList" 
    [tableHeader]="msaapTableHeader" [titleHeader]="msaapTitleHeader"
    [expanded]="true">
  </ngx-audio-player>
</div>
<div  class="tw-text-center tw-pt-20">
  <app-no-results *ngIf="data.length == 0"></app-no-results>
</div>

