<div class="flex-c-b tw-mt-6" *ngIf="selectedData?.result?.length != 0">
	<span class="tw-font-bold tw-text-sm tw-block">عدد النتائج (32)</span>
	<!-- <button type="submit"
    class="tw-bg-secondColor tw-text-mainColor tw-font-bold hover:tw-text-white tw-h-10 tw-px-4 hover:tw-bg-[#AEC3AE] transition-du200 disabled:tw-bg-gray-200 disabled:tw-cursor-no-drop disabled:tw-text-gray-400">
    بحث متقدم
  </button> -->
	<div class="tw-flex tw-items-center tw-gap-3">
		<label class="tw-text-xs tw-font-medium tw-block">حدد ما تريد ظهوره فى جدول النتائج</label>
		<mat-form-field appearance="outline" class="tw-min-w-[200px]">
			<mat-label>أختـر ...</mat-label>
			<span matSuffix
				class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
			<mat-select multiple>
				<mat-option>test</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
</div>
<div class="tw-overflow-auto tw-mt-6 tw-max-h-96">
	<section class="tw-table tw-w-full tw-whitespace-nowrap" *ngIf="selectedData?.result?.length != 0">
		<header class="tw-table-row tw-bg-secondColor tw-sticky tw-top-0">
			<div
				class="tw-table-cell tw-text-gary-700 tw-font-bold tw-text-sm tw-px-6 tw-py-4 ltr:tw-text-left rtl:tw-text-right">
				الأيـة
			</div>
			<div
				class="tw-table-cell tw-text-gary-700 tw-font-bold tw-text-sm tw-p-4 ltr:tw-text-left rtl:tw-text-right">
				اسـم السورة
			</div>
			<div
				class="tw-table-cell tw-text-gary-700 tw-font-bold tw-text-sm tw-p-4 ltr:tw-text-left rtl:tw-text-right">
				رقـم الاية
			</div>
		</header>
		<!-- content -->
		<ng-container *ngFor="let item of selectedData?.result">
			<div class="tw-table-row tw-bg-white tw-w-full tw-rounded tw-mb-3">
				<div class="tw-table-cell tw-border-b tw-border-gray-200">
					<div class="flex-box tw-gap-1 tw-py-3">
						<div class="tw-w-0.5 tw-h-10 tw-bg-mainColor tw-rounded-md"></div>
						<span class="tw-mx-1"></span>
						<p class="tw-mb-0 tw-max-w-[400px] tw-whitespace-break-spaces tw-leading-8">
							{{item.data.AyaText_Othmani}}
						</p>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-full">{{item.data.Sura_Name}}
						</span>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-6 tw-h-6 tw-border tw-border-gray-200 tw-text-center">
							{{item.data.Aya_N}}
						</span>
					</div>
				</div>
			</div>
		</ng-container>
	</section>
	<app-no-results *ngIf="selectedData?.result?.length == 0"></app-no-results>
</div>