<div class=" header tw-bg-mainColor">
  <!-- main-menu -->
<div class="tw-fixed tw-top-3.5 tw-right-[30px]">
	<button type="" title="menu" mat-mini-fab (click)="OpenMenu()"
		class="tw-mx-[35px] tw-w-12 tw-h-12 tw-bg-[#6f835e] tw-min-w-0 tw-text-2xl tw-justify-center flex-box tw-rounded-full tw-shadow-none">
		<span class="sfi sfi-menu tw-text-white tw-text-xl tw-block" *ngIf="!isOpenMenu"></span>
		<span class="sfi sfi-cancel-1 tw-text-white" *ngIf="isOpenMenu"></span>
	</button>
	<div *ngIf="isOpenMenu"
		class="tw-bg-white tw-py-3 tw-w-48 tw-h-auto tw-border tw-border-gray-200 tw-rounded-md tw-absolute tw-top-16 tw-right-[30px] tw-shadow-xl3 tw-shadow-gray-200">
		<button (click)="openSimilarities()" type="" mat-flat-button
			class="tw-bg-transparent tw-text-mainColor hover:tw-text-black tw-h-auto tw-w-full tw-border-b tw-border-gray-200 tw-border-solid tw-border-0 tw-rounded-none tw-py-1.5 transition-du200 disabled:tw-bg-gray-200 disabled:tw-cursor-no-drop disabled:tw-text-gray-400">
			عدد المتشابهات
		</button>
		<button type="" mat-flat-button
			class="tw-bg-transparent tw-text-mainColor hover:tw-text-black tw-h-auto tw-w-full tw-border-b tw-border-gray-200 tw-border-solid tw-border-0 tw-rounded-none tw-py-1.5 transition-du200 disabled:tw-bg-gray-200 disabled:tw-cursor-no-drop disabled:tw-text-gray-400">
			تفـسـير
		</button>
		<button type="" mat-flat-button  (click)="openReads()"
			class="tw-bg-transparent tw-text-mainColor hover:tw-text-black tw-h-auto tw-w-full tw-border-b tw-border-gray-200 tw-border-solid tw-border-0 tw-rounded-none tw-py-1.5 transition-du200 disabled:tw-bg-gray-200 disabled:tw-cursor-no-drop disabled:tw-text-gray-400">
			القراء
		</button>
		<!-- <button type="" mat-flat-button
			class="tw-bg-transparent tw-text-mainColor hover:tw-text-black tw-h-auto tw-w-full tw-border-b tw-border-gray-200 tw-border-solid tw-border-0 tw-rounded-none tw-py-1.5 transition-du200 disabled:tw-bg-gray-200 disabled:tw-cursor-no-drop disabled:tw-text-gray-400">
			متشابهات السـور
		</button> -->
		<button (click)="openAlsajadat()" type="" mat-flat-button
			class="tw-bg-transparent tw-text-mainColor hover:tw-text-black tw-h-auto tw-w-full tw-border-b tw-border-gray-200 tw-border-solid tw-border-0 tw-rounded-none tw-py-1.5 transition-du200 disabled:tw-bg-gray-200 disabled:tw-cursor-no-drop disabled:tw-text-gray-400">
			السجدات
		</button>
		<button (click)="openPrint()" mat-flat-button
			class="tw-bg-transparent tw-text-mainColor hover:tw-text-black tw-h-auto tw-w-full tw-border-b tw-border-gray-200 tw-border-solid tw-border-0 tw-rounded-none tw-py-1.5 transition-du200 disabled:tw-bg-gray-200 disabled:tw-cursor-no-drop disabled:tw-text-gray-400">
			طباعة
		</button>
		<button (click)="openFavorite()" mat-flat-button
			class="tw-bg-transparent tw-text-mainColor hover:tw-text-black tw-h-auto tw-w-full tw-border-solid tw-border-0 tw-rounded-none tw-py-1.5 transition-du200 disabled:tw-bg-gray-200 disabled:tw-cursor-no-drop disabled:tw-text-gray-400">
			المفضلة
		</button>
	</div>
</div>
  <div class="tw-container tw-mx-auto tw-py-4 flex-c-b tw-flex-col md:tw-flex-row tw-px-0">
    <div class="tw-flex tw-items-center tw-gap-14 tw-mb-4 md:tw-mb-0">
      <div>
        <h1 routerLink="/home" class="tw-font-quraanFont tw-text-2xl tw-text-white tw-drop-shadow-lg tw-mb-0 tw-cursor-pointer">قرءان كريم</h1>
      </div>
      <!-- menu -->
      <nav class="tw-space-x-4 rtl:tw-space-x-reverse">
        <a routerLink="/listen" class="tw-text-white tw-text-base hover:tw-text-secondColor tw-font-medium tw-inline-block"> ضبط الاستماع  </a>
        <a routerLink="/search" class="tw-text-white tw-text-base hover:tw-text-secondColor tw-font-medium tw-inline-block">إعدادت البحث</a>
      </nav>
    </div>
    <!-- search -->
   <app-main-search></app-main-search>
  </div>
</div>