<div>
	<div class="flex-c-b tw-mt-6">
		<span class="tw-font-bold tw-text-sm tw-block">عدد النتائج (32)</span>
	</div>
	<div class="tw-overflow-auto tw-mt-6 tw-max-h-96">
		<section class="tw-table tw-w-full tw-whitespace-nowrap">
			<header class="tw-table-row tw-bg-secondColor tw-sticky tw-top-0">
				<div
					class="tw-table-cell tw-text-gary-700 tw-font-bold tw-text-sm tw-px-6 tw-py-4 ltr:tw-text-left rtl:tw-text-right">
					الأيـة
				</div>
				<div
					class="tw-table-cell tw-text-gary-700 tw-font-bold tw-text-sm tw-p-4 ltr:tw-text-left rtl:tw-text-right">
					اسـم السورة
				</div>
				<div
					class="tw-table-cell tw-text-gary-700 tw-font-bold tw-text-sm tw-p-4 ltr:tw-text-left rtl:tw-text-right">
					رقـم الاية
				</div>
			</header>
			<!-- content -->
			<div class="tw-table-row tw-bg-white tw-w-full tw-rounded tw-mb-3">
				<div class="tw-table-cell tw-border-b tw-border-gray-200">
					<div class="flex-box tw-gap-1 tw-py-3">
						<div class="tw-w-0.5 tw-h-10 tw-bg-mainColor tw-rounded-md"></div>
						<span class="tw-mx-1"></span>
						<p class="tw-mb-0">ٱللَّهُ لَآ إِلَٰهَ إِلَّا هُوَ لَيَجْمَعَنَّكُمْ إِلَىٰ يَوْمِ ٱلْقِيَٰمَةِ
							لَا
							رَيْبَ
							فِيهِ وَمَنْ أَصْدَقُ مِنَ <span class="tw-text-coral tw-font-bold">ٱللَّهِ</span> حَدِيثًا
						</p>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-full">البـقرة
						</span>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-6 tw-h-6 tw-border tw-border-gray-200 tw-text-center"> 1
						</span>
					</div>
				</div>
			</div>
			<div class="tw-table-row tw-bg-white tw-w-full tw-rounded tw-mb-3">
				<div class="tw-table-cell tw-border-b tw-border-gray-200">
					<div class="flex-box tw-gap-1 tw-py-3">
						<div class="tw-w-0.5 tw-h-10 tw-bg-mainColor tw-rounded-md"></div>
						<span class="tw-mx-1"></span>
						<p class="tw-mb-0">ٱللَّهُ لَآ إِلَٰهَ إِلَّا هُوَ لَيَجْمَعَنَّكُمْ إِلَىٰ يَوْمِ ٱلْقِيَٰمَةِ
							لَا
							رَيْبَ
							فِيهِ وَمَنْ أَصْدَقُ مِنَ <span class="tw-text-coral tw-font-bold">ٱللَّهِ</span> حَدِيثًا
						</p>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-full">البـقرة
						</span>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-6 tw-h-6 tw-border tw-border-gray-200 tw-text-center"> 1
						</span>
					</div>
				</div>
			</div>
			<div class="tw-table-row tw-bg-white tw-w-full tw-rounded tw-mb-3">
				<div class="tw-table-cell tw-border-b tw-border-gray-200">
					<div class="flex-box tw-gap-1 tw-py-3">
						<div class="tw-w-0.5 tw-h-10 tw-bg-mainColor tw-rounded-md"></div>
						<span class="tw-mx-1"></span>
						<p class="tw-mb-0">ٱللَّهُ لَآ إِلَٰهَ إِلَّا هُوَ لَيَجْمَعَنَّكُمْ إِلَىٰ يَوْمِ ٱلْقِيَٰمَةِ
							لَا
							رَيْبَ
							فِيهِ وَمَنْ أَصْدَقُ مِنَ <span class="tw-text-coral tw-font-bold">ٱللَّهِ</span> حَدِيثًا
						</p>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-full">البـقرة
						</span>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-6 tw-h-6 tw-border tw-border-gray-200 tw-text-center"> 1
						</span>
					</div>
				</div>
			</div>
			<div class="tw-table-row tw-bg-white tw-w-full tw-rounded tw-mb-3">
				<div class="tw-table-cell tw-border-b tw-border-gray-200">
					<div class="flex-box tw-gap-1 tw-py-3">
						<div class="tw-w-0.5 tw-h-10 tw-bg-mainColor tw-rounded-md"></div>
						<span class="tw-mx-1"></span>
						<p class="tw-mb-0">ٱللَّهُ لَآ إِلَٰهَ إِلَّا هُوَ لَيَجْمَعَنَّكُمْ إِلَىٰ يَوْمِ ٱلْقِيَٰمَةِ
							لَا
							رَيْبَ
							فِيهِ وَمَنْ أَصْدَقُ مِنَ <span class="tw-text-coral tw-font-bold">ٱللَّهِ</span> حَدِيثًا
						</p>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-full">البـقرة
						</span>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-6 tw-h-6 tw-border tw-border-gray-200 tw-text-center"> 1
						</span>
					</div>
				</div>
			</div>
			<div class="tw-table-row tw-bg-white tw-w-full tw-rounded tw-mb-3">
				<div class="tw-table-cell tw-border-b tw-border-gray-200">
					<div class="flex-box tw-gap-1 tw-py-3">
						<div class="tw-w-0.5 tw-h-10 tw-bg-mainColor tw-rounded-md"></div>
						<span class="tw-mx-1"></span>
						<p class="tw-mb-0">ٱللَّهُ لَآ إِلَٰهَ إِلَّا هُوَ لَيَجْمَعَنَّكُمْ إِلَىٰ يَوْمِ ٱلْقِيَٰمَةِ
							لَا
							رَيْبَ
							فِيهِ وَمَنْ أَصْدَقُ مِنَ <span class="tw-text-coral tw-font-bold">ٱللَّهِ</span> حَدِيثًا
						</p>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-full">البـقرة
						</span>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-6 tw-h-6 tw-border tw-border-gray-200 tw-text-center"> 1
						</span>
					</div>
				</div>
			</div>
			<div class="tw-table-row tw-bg-white tw-w-full tw-rounded tw-mb-3">
				<div class="tw-table-cell tw-border-b tw-border-gray-200">
					<div class="flex-box tw-gap-1 tw-py-3">
						<div class="tw-w-0.5 tw-h-10 tw-bg-mainColor tw-rounded-md"></div>
						<span class="tw-mx-1"></span>
						<p class="tw-mb-0">ٱللَّهُ لَآ إِلَٰهَ إِلَّا هُوَ لَيَجْمَعَنَّكُمْ إِلَىٰ يَوْمِ ٱلْقِيَٰمَةِ
							لَا
							رَيْبَ
							فِيهِ وَمَنْ أَصْدَقُ مِنَ <span class="tw-text-coral tw-font-bold">ٱللَّهِ</span> حَدِيثًا
						</p>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-full">البـقرة
						</span>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-6 tw-h-6 tw-border tw-border-gray-200 tw-text-center"> 1
						</span>
					</div>
				</div>
			</div>
			<div class="tw-table-row tw-bg-white tw-w-full tw-rounded tw-mb-3">
				<div class="tw-table-cell tw-border-b tw-border-gray-200">
					<div class="flex-box tw-gap-1 tw-py-3">
						<div class="tw-w-0.5 tw-h-10 tw-bg-mainColor tw-rounded-md"></div>
						<span class="tw-mx-1"></span>
						<p class="tw-mb-0">ٱللَّهُ لَآ إِلَٰهَ إِلَّا هُوَ لَيَجْمَعَنَّكُمْ إِلَىٰ يَوْمِ ٱلْقِيَٰمَةِ
							لَا
							رَيْبَ
							فِيهِ وَمَنْ أَصْدَقُ مِنَ <span class="tw-text-coral tw-font-bold">ٱللَّهِ</span> حَدِيثًا
						</p>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-full">البـقرة
						</span>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-6 tw-h-6 tw-border tw-border-gray-200 tw-text-center"> 1
						</span>
					</div>
				</div>
			</div>
			<div class="tw-table-row tw-bg-white tw-w-full tw-rounded tw-mb-3">
				<div class="tw-table-cell tw-border-b tw-border-gray-200">
					<div class="flex-box tw-gap-1 tw-py-3">
						<div class="tw-w-0.5 tw-h-10 tw-bg-mainColor tw-rounded-md"></div>
						<span class="tw-mx-1"></span>
						<p class="tw-mb-0">ٱللَّهُ لَآ إِلَٰهَ إِلَّا هُوَ لَيَجْمَعَنَّكُمْ إِلَىٰ يَوْمِ ٱلْقِيَٰمَةِ
							لَا
							رَيْبَ
							فِيهِ وَمَنْ أَصْدَقُ مِنَ <span class="tw-text-coral tw-font-bold">ٱللَّهِ</span> حَدِيثًا
						</p>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-full">البـقرة
						</span>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-6 tw-h-6 tw-border tw-border-gray-200 tw-text-center"> 1
						</span>
					</div>
				</div>
			</div>
			<div class="tw-table-row tw-bg-white tw-w-full tw-rounded tw-mb-3">
				<div class="tw-table-cell tw-border-b tw-border-gray-200">
					<div class="flex-box tw-gap-1 tw-py-3">
						<div class="tw-w-0.5 tw-h-10 tw-bg-mainColor tw-rounded-md"></div>
						<span class="tw-mx-1"></span>
						<p class="tw-mb-0">ٱللَّهُ لَآ إِلَٰهَ إِلَّا هُوَ لَيَجْمَعَنَّكُمْ إِلَىٰ يَوْمِ ٱلْقِيَٰمَةِ
							لَا
							رَيْبَ
							فِيهِ وَمَنْ أَصْدَقُ مِنَ <span class="tw-text-coral tw-font-bold">ٱللَّهِ</span> حَدِيثًا
						</p>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-full">البـقرة
						</span>
					</div>
				</div>
				<div class="tw-table-cell tw-border-b tw-border-gray-200 tw-align-middle">
					<div class="flex-box tw-px-4 tw-py-1 tw-text-bgSTC tw-text-sm">
						<span class="tw-block tw-w-6 tw-h-6 tw-border tw-border-gray-200 tw-text-center"> 1
						</span>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<div class="tw-text-center tw-pt-20">
	<app-no-results></app-no-results>
</div>