<form class="tw-w-10/12 lg:tw-w-6/12 tw-m-auto tw-mt-8 tw-border tw-border-gray-200 tw-p-4 tw-space-y-5">
  <div class="tw-space-x-4 rtl:tw-space-x-reverse tw-border-b tw-border-gray-100 tw-pb-4 tw-pt-2 flex-c-b tw-gap-8 tw-flex-col md:tw-flex-row">
    <div class="tw-w-full md:tw-w-auto select-box tw-flex-1">
          <!-- First Radio Group -->
    <mat-radio-group [value]="omomQuraan_AyaStart" (change)="searchIn($event)" aria-label="Group 1">
      <mat-radio-button class="tw-text-xs" value="generalQuran">
        <span class="tw-font-medium tw-whitespace-break-spaces">
          عموم القرءان
        </span>
      </mat-radio-button>
      <mat-radio-button class="tw-text-xs" value="beginningAyahs">
        <span class="tw-font-medium tw-whitespace-break-spaces">
          بداية الايات
        </span>
      </mat-radio-button>
    </mat-radio-group>
    </div> 
    <!-- Second Radio Group -->
      <div class="tw-w-full md:tw-w-auto select-box tw-flex-1">        
    <mat-radio-group  [value]="orderResultBy" (change)="orderBy($event)" aria-label="Group 2">
      <mat-radio-button class="tw-text-xs" value="alphabeticalOrder">
        <span class="tw-font-medium tw-whitespace-break-spaces">
          ترتيب ابجدي
        </span>
      </mat-radio-button>
      <mat-radio-button class="tw-text-xs" value="mushafOrder">
        <span class="tw-font-medium tw-whitespace-break-spaces">
          ترتيب المصحف
        </span>
      </mat-radio-button>
    </mat-radio-group>
    </div>
  </div>
  <div class="flex-c-b tw-gap-8 tw-flex-col md:tw-flex-row">
    <div class="tw-w-full md:tw-w-auto select-box tw-flex-1">
      <label class="tw-text-xs tw-font-medium tw-mb-2 tw-block">اسم السورة</label>
      <div class="flex-box tw-gap-2">
        <mat-form-field appearance="outline"
          class="tw-w-full tw-flex-1 tw-mt-4 sm:tw-mt-0 tw-pb-0 tw-bg-white tw-rounded-md">
          <mat-label class="tw-text-sm">من</mat-label>
          <span matSuffix
            class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
          <!-- من سورة" -->
          <mat-select [(value)]="selectedFromSora" (selectionChange)="fromSoraFun($event)">
            <mat-option *ngFor="let sora of soras; let i = index" [value]="sora">{{ sora.soraName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- إلى سورة -->
        <mat-form-field appearance="outline"
          class="tw-w-full tw-flex-1 tw-mt-4 sm:tw-mt-0 tw-pb-0 tw-bg-white tw-rounded-md">
          <mat-label class="tw-text-sm">إلى</mat-label>
          <span matSuffix
            class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
          <mat-select [(value)]="selectedToSora" (selectionChange)="toSoraFun($event)">
            <mat-option *ngFor="let sora of soras; let i = index" [value]="sora">{{ sora.soraName }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="tw-w-full md:tw-w-auto select-box tw-flex-1">
      <label class="tw-text-xs tw-font-medium tw-mb-2 tw-block">رقـم الاية</label>
      <div class="flex-box tw-gap-2">
        <!-- من اية -->
        <mat-form-field appearance="outline"
          class="tw-w-full tw-flex-1 tw-mt-4 sm:tw-mt-0 tw-pb-0 tw-bg-white tw-rounded-md">
          <mat-label class="tw-text-sm">من</mat-label>
          <span matSuffix
            class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
          <mat-select [(value)]="selectedFromAya" (selectionChange)="fromAyaFun($event)">
            <mat-option *ngFor="let number of fromSoraAyat" [value]="number">{{
              number.id
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- إلى اية -->
        <mat-form-field appearance="outline"
          class="tw-w-full tw-flex-1 tw-mt-4 sm:tw-mt-0 tw-pb-0 tw-bg-white tw-rounded-md">
          <mat-label class="tw-text-sm">إلى</mat-label>
          <span matSuffix
            class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
          <mat-select [(value)]="selectedToAya"(selectionChange)="toAyaFun($event)">
            <mat-option *ngFor="let number of toSoraAyat" [value]="number">{{
              number.id
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="flex-c-b tw-gap-8 tw-flex-col md:tw-flex-row">
    <div class="tw-w-full md:tw-w-auto select-box tw-flex-1">
      <label class="tw-text-xs tw-font-medium tw-mb-2 tw-block"> الجـزء</label>
      <div class="flex-box tw-gap-2">
        <mat-form-field appearance="outline" class="tw-w-full tw-flex-1 tw-mt-4 sm:tw-mt-0 tw-pb-0  tw-rounded-md">
          <mat-label class="tw-text-sm">من</mat-label>
          <span matSuffix
            class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
          <!-- من سورة" -->
          <mat-select [(value)]="selectedFromPart" (selectionChange)="fromPartFun($event)">
            <mat-option *ngFor="let part of parts; let i = index" [value]="part">{{ part.elPart }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- إلى سورة -->
        <mat-form-field appearance="outline" class="tw-w-full tw-flex-1 tw-mt-4 sm:tw-mt-0 tw-pb-0  tw-rounded-md">
          <mat-label class="tw-text-sm">إلى</mat-label>
          <span matSuffix
            class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
          <mat-select [(value)]="selectedToPart" (selectionChange)="toPartFun($event)">
            <mat-option *ngFor="let part of parts; let i = index" [value]="part">{{ part.elPart }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="tw-w-full md:tw-w-auto select-box tw-flex-1">
      <label class="tw-text-xs tw-font-medium tw-mb-2 tw-block"> الحـزب</label>
      <div class="flex-box tw-gap-2">
        <mat-form-field appearance="outline" class="tw-w-full tw-flex-1 tw-mt-4 sm:tw-mt-0 tw-pb-0  tw-rounded-md">
          <mat-label class="tw-text-sm">من</mat-label>
          <span matSuffix
            class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
          <!-- من سورة" -->
          <mat-select [(value)]="selectedFromHezp" (selectionChange)="fromHezpFun($event)">
            <mat-option *ngFor="let h of hezb; let i = index" [value]="h">{{ h.nOFHezb }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- إلى سورة -->
        <mat-form-field appearance="outline" class="tw-w-full tw-flex-1 tw-mt-4 sm:tw-mt-0 tw-pb-0  tw-rounded-md">
          <mat-label class="tw-text-sm">إلى</mat-label>
          <span matSuffix
            class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
          <mat-select [(value)]="selectedToHezp" (selectionChange)="toHezpFun($event)">
            <mat-option *ngFor="let h of hezb; let i = index" [value]="h">{{ h.nOFHezb }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="flex-c-b tw-gap-8 tw-flex-col md:tw-flex-row">
    <div class="tw-w-full md:tw-w-auto select-box tw-flex-1">
      <label class="tw-text-xs tw-font-medium tw-mb-2 tw-block"> الربـع</label>
      <div class="flex-box tw-gap-2">
        <mat-form-field appearance="outline" class="tw-w-full tw-flex-1 tw-mt-4 sm:tw-mt-0 tw-pb-0  tw-rounded-md">
          <mat-label class="tw-text-sm">من</mat-label>
          <span matSuffix
            class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
          <!-- من سورة" -->
          <mat-select [(value)]="selectedFromRob" (selectionChange)="fromRobFun($event)">
            <mat-option *ngFor="let r of rob; let i = index" [value]="r">{{ r.rub }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- إلى سورة -->
        <mat-form-field appearance="outline" class="tw-w-full tw-flex-1 tw-mt-4 sm:tw-mt-0 tw-pb-0  tw-rounded-md">
          <mat-label class="tw-text-sm">إلى</mat-label>
          <span matSuffix
            class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
          <mat-select [(value)]="selectedToRob" (selectionChange)="toRobFun($event)">
            <mat-option *ngFor="let r of rob; let i = index" [value]="r">{{ r.rub }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="tw-w-full md:tw-w-auto select-box tw-flex-1">
      <label class="tw-text-xs tw-font-medium tw-mb-2 tw-block"> الصفحة</label>
      <div class="flex-box tw-gap-2">
        <mat-form-field appearance="outline" class="tw-w-full tw-flex-1 tw-mt-4 sm:tw-mt-0 tw-pb-0  tw-rounded-md">
          <mat-label class="tw-text-sm">من</mat-label>
          <span matSuffix
            class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
          <!-- من سورة" -->
          <mat-select [(value)]="selectedFromPage" (selectionChange)="fromPageFun($event)">
            <mat-option *ngFor="let page of pages; let i = index" [value]="page">{{ page.nOFPage }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- إلى سورة -->
        <mat-form-field appearance="outline" class="tw-w-full tw-flex-1 tw-mt-4 sm:tw-mt-0 tw-pb-0  tw-rounded-md">
          <mat-label class="tw-text-sm">إلى</mat-label>
          <span matSuffix
            class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
          <mat-select [(value)]="selectedToPage" (selectionChange)="toPageFun($event)">
            <mat-option *ngFor="let page of pages; let i = index" [value]="page">{{ page.nOFPage }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="tw-w-full md:tw-w-auto select-box tw-flex-1 select-w-w">
    <label class="tw-text-xs tw-font-medium tw-mb-2 tw-block">حدد ما تريد ظهوره فى جدول النتائج</label>
    <mat-form-field appearance="outline" class="tw-w-full tw-bg-gray-100">
      <mat-label>أختـر ...</mat-label>
      <span matSuffix
        class="sfi sfi-arrow-down1 tw-text-gray-500 tw-font-medium tw-mt-[-5px] tw-block tw-text-xs"></span>
      <mat-select [formControl]="toppings" multiple (valueChange)="x($event)">
        <mat-option [value]="name" *ngFor="let name of resultsList; track name">{{name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- actions -->
  <div class="tw-mt-10 flex-c-b">
    <div class="tw-mt-4">
      <mat-checkbox  [checked]="idintical" (change)="OnIdinticalChange($event)" class="tw-text-sm">
        <label for="" class="tw-font-medium tw-whitespace-break-spaces">
          متطابق
        </label>
      </mat-checkbox>
    </div>
    <div>
      <button type="submit" (click)="saveSearchSettings()"
        class="tw-bg-secondColor tw-text-mainColor tw-font-bold hover:tw-text-white tw-h-10 tw-px-4 hover:tw-bg-[#AEC3AE] transition-du200 disabled:tw-bg-gray-200 disabled:tw-cursor-no-drop disabled:tw-text-gray-400">
        حفـظ الإعدادات
      </button>
      <span class="tw-mx-1"></span>
      <!-- <button type="submit" (click)="rest()"
        class="tw-bg-secondColor tw-text-mainColor tw-font-bold hover:tw-text-white tw-h-10 tw-px-4 hover:tw-bg-[#AEC3AE] transition-du200 disabled:tw-bg-gray-200 disabled:tw-cursor-no-drop disabled:tw-text-gray-400">
        إعادة تعيين
      </button> -->
    </div>
  </div>
</form>

<!-- popup-result -->
<ng-template #addMatrix>
  <header class="flex-c-b tw-border-b tw-border-gray-100 tw-pb-3 tw-mb-4">
    <h2 class="tw-mb-0">اعدادات البحث</h2>
    <button title="close" (click)="closeDialog()" mat-flat-button class="tw-bg-coral tw-w-8 tw-h-8 tw-min-w-0 tw-px-0">
      <span class="tw-text-white tw-text-sm tw-block tw-py-px">
        <i class="sfi sfi-cancel-1 tw-font-bold tw-block"></i>
      </span>
    </button>
  </header>
  <main>
    <h2 class="tw-p-2"> تم حفظ اعدادات البحث </h2>

  </main>
</ng-template>