<div>
	<header class="flex-c-b tw-border-b tw-border-gray-100 tw-pb-3 tw-mb-4">
		<h2 class="tw-mb-0">القراء</h2>
		<button title="close" (click)="closeDialog()" mat-flat-button
			class="tw-bg-coral tw-w-8 tw-h-8 tw-min-w-0 tw-px-0">
			<span class="tw-text-white tw-text-sm tw-block tw-py-px">
				<i class="sfi sfi-cancel-1 tw-font-bold tw-block"></i>
			</span>
		</button>
	</header>
	<main>
		<div class="tw-grid tw-grid-cols-4 tw-gap-5">
			<div class="tw-col-span-1">
				<div class="tw-text-center tw-border tw-border-neutral-100 tw-rounded-sm tw-cursor-pointer hover:tw-opacity-40 ">
					<img src="../../../assets/images/avatar.png" width="150" class="tw-m-auto tw-pt-2 tw-opacity-70" alt="">
					<span class="tw-block tw-bg-neutral-100 tw-py-2.5 tw-mt-2.5 tw-font-medium">الشيخ مشارى راشد</span>
				</div>
			</div>
			<div class="tw-col-span-1">
				<div class="tw-text-center tw-border tw-border-neutral-100 tw-rounded-sm tw-cursor-pointer hover:tw-opacity-40">
					<img src="../../../assets/images/avatar.png" width="150" class="tw-m-auto tw-pt-2 tw-opacity-70" alt="">
					<span class="tw-block tw-bg-neutral-100 tw-py-2.5 tw-mt-2.5 tw-font-medium">الشيخ مشارى راشد</span>
				</div>
			</div>
			<div class="tw-col-span-1">
				<div class="tw-text-center tw-border tw-border-neutral-100 tw-rounded-sm tw-cursor-pointer hover:tw-opacity-40">
					<img src="../../../assets/images/avatar.png" width="150" class="tw-m-auto tw-pt-2 tw-opacity-70" alt="">
					<span class="tw-block tw-bg-neutral-100 tw-py-2.5 tw-mt-2.5 tw-font-medium">الشيخ مشارى راشد</span>
				</div>
			</div>
			<div class="tw-col-span-1">
				<div class="tw-text-center tw-border tw-border-neutral-100 tw-rounded-sm tw-cursor-pointer hover:tw-opacity-40">
					<img src="../../../assets/images/avatar.png" width="150" class="tw-m-auto tw-pt-2 tw-opacity-70" alt="">
					<span class="tw-block tw-bg-neutral-100 tw-py-2.5 tw-mt-2.5 tw-font-medium">الشيخ مشارى راشد</span>
				</div>
			</div>
			<div class="tw-col-span-1">
				<div class="tw-text-center tw-border tw-border-neutral-100 tw-rounded-sm tw-cursor-pointer hover:tw-opacity-40 activeItem">
					<img src="../../../assets/images/avatar.png" width="150" class="tw-m-auto tw-pt-2 tw-opacity-70" alt="">
					<span class="tw-block tw-bg-neutral-100 tw-py-2.5 tw-mt-2.5 tw-font-medium">الشيخ مشارى راشد</span>
				</div>
			</div>
			<div class="tw-col-span-1">
				<div class="tw-text-center tw-border tw-border-neutral-100 tw-rounded-sm tw-cursor-pointer hover:tw-opacity-40">
					<img src="../../../assets/images/avatar.png" width="150" class="tw-m-auto tw-pt-2 tw-opacity-70" alt="">
					<span class="tw-block tw-bg-neutral-100 tw-py-2.5 tw-mt-2.5 tw-font-medium">الشيخ مشارى راشد</span>
				</div>
			</div>
			<div class="tw-col-span-1">
				<div class="tw-text-center tw-border tw-border-neutral-100 tw-rounded-sm tw-cursor-pointer hover:tw-opacity-40">
					<img src="../../../assets/images/avatar.png" width="150" class="tw-m-auto tw-pt-2 tw-opacity-70" alt="">
					<span class="tw-block tw-bg-neutral-100 tw-py-2.5 tw-mt-2.5 tw-font-medium">الشيخ مشارى راشد</span>
				</div>
			</div>
			<div class="tw-col-span-1">
				<div class="tw-text-center tw-border tw-border-neutral-100 tw-rounded-sm tw-cursor-pointer hover:tw-opacity-40">
					<img src="../../../assets/images/avatar.png" width="150" class="tw-m-auto tw-pt-2 tw-opacity-70" alt="">
					<span class="tw-block tw-bg-neutral-100 tw-py-2.5 tw-mt-2.5 tw-font-medium">الشيخ مشارى راشد</span>
				</div>
			</div>
		</div>	
	</main>
</div>